body {
  max-width: 45rem;
  background-color: silver;
  color: midnightblue;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 20px;
}


html {
  <head>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
  font-size: 100%;
}

h1 {
  
}

.our-div {
  text-align: left;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

.paragraph-one {
  font-size: 2rem;
   <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
    </style>
  </head>
  <body>
    <div>paragraph</div>
  </body>

.paragraph-two {
  
  font-size: 2rem;
   <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
    </style>
  </head>
  <body>
    <div>paragraph</div>
  </body>
}

.paragraph-three {
  font-size: 2rem;
   letter-spacing: 8px;
   <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
    </style>
  </head>
  <body>
    <div>paragraph</div>
  </body>
}

paragraph-four {
  font-size: 2rem;
   letter-spacing: 8px;
   <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
    </style>
  </head>
  <body>
    <div>paragraph</div>
  </body>
}
